* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Raleway, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.logo {
    width: 10%;
    min-width: 80px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 30px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 1.2em;
    transition: color 0.4s ease-in-out;
}

nav a::before {
    content: '';
    background-color: #0065FC;
    position: absolute;
    top: -29px;
    width: 0;
    height: 3px;
    transition: width 0.4s ease-in-out;
}

nav a:hover {
    color: #0065FC;
}

nav a:hover::before {
    width: 100%;
}

section {
    margin: 30px; /*provisoire*/
    padding-bottom: 30px;
}

.sectionrecherche {
    padding-bottom: 30px; /*provisoire*/
}

.recherche { 
    display: flex;
    height: 60px; /*provisoire*/
    font-size: 1.5em;
}

.fa-location-dot {
    position: relative;
    left: 7px;
    top: 3px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    line-height: 28px;
    padding: 10px; /*provisoire*/ 
}

#champsaisie {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 21px;
    padding: 12px; /*provisoire*/
}

#rechercher {
    position: relative;
    left: -7px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 28px;
    padding: 10px; /*provisoire*/
}

.fa-magnifying-glass {
    color: #FFFFFF;
    background-color: #0065FC;
    cursor: pointer;
    display: none;
}

.filtres {
    display: flex;
    align-items: center;
    margin: 10px; /*provisoire*/
    justify-content: space-between;
    width: 70%; /*provisoire*/
    
}

button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    font-size: 1.2em;
    font-weight: bold;
}

button i {
    color: #0065FC;
    font-size: 1.2em;
}

button:hover {
    background-color: #DEEBFF;
}

#info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 19px;
}

#iconeinfo {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    height: 34px;
    width: 34px;
    padding: 7px 12px;
}

.sectionscartes {
    display: flex;
}

.sectioncartes {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
    width: 60%; /*provisoire*/
}

.cartes {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

.carte {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-basis: 30%;
    height: 250px; 
}

.carte h3, .cartepop h3, .carte-activités h3 {
    font-size: 1em;
}

.carte img {
    height: 130px;
    min-width: 100%; 
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.conteneur {
    font-size: 0.8em;
    padding: 5px;
    height: 10px;
}

#plus {
    font-weight: bold;
    padding-top: 30px; /* ? */
}

.hautpopulaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-star, .fa-chart-line {
    color:#0065FC;
}

#greystar {
    color: #F2F2F2;
}

#populaires {
    width: 35%;
}

.cartespopulaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}

.cartepop {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 150px;
}

.imagepop {
    display: inline-block;
    height: 150px;
    width: 40%; 
    object-fit: cover;
    object-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}

.conteneurpop {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 60%;
    height: 150px;
}

.conteneur-activités {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.carte-activités {
    height: 500px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carte-activités h3 {
    padding-left: 10px;
}

.carte-activités img {
    height: 440px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.conteneurfooter {
    display: flex;
    flex-direction: column;   
}

.conteneurfooter ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

@media (max-width: 992px) {
    .filtres {
        width: 100%;
    }
    
    .sectionscartes {
        flex-direction: column;
        width: 100%;
    }

    .cartespopulaires {
        width: 100%;
        flex-direction: row;
    }

    .carte-activités {
        height: 320px;
    }

    .carte-activités img {
        height: 250px;
    }
}

@media (max-width: 768px) {

}
